<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    
    <!-- NOTE: You probably want to set these to false when deploying to production -->
    <iisnode 
      debuggingEnabled="true"
      loggingEnabled="true"
      devErrorsEnabled="true"
    />

    <!-- indicates that the js files are a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="nodeIndex" path="index.js" verb="*" modules="iisnode" />
      <add name="nodeServer" path="server.js" verb="*" modules="iisnode" />
      <add name="nodeRouter" path="router.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="index\.js.+" negate="true" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>